 /* left hand side */
 .left {
   height: 690px;
   background-color: gainsboro;
 }

 .transfer {
   overflow-y: auto;
   max-height: 90px;
 }

 .page {
   text-decoration: none;
   color: black;
 }

 .sim {
   max-height: 50px;
 }

 .note {
   text-decoration: underline blue;
   color: blue;
 }