 body {
   background-color: gainsboro;
 }

 /* left hand side */
 .left {
   height: 690px;
   background-color: darkgreen;
   width: 50vh;
   display: flex;
   flex-direction: column;
   text-align: center;
   border-start-end-radius: 5px;
   border-end-end-radius: 5px;
   font-size: large;
 }

 .left img {
   border-radius: 70px;
   max-width: 18vh;
   padding: 5%;
 }

 .icon {
   padding-top: 25%;
   padding-bottom: 25%;
 }

 /* face of the pages */
 .face {
   display: flex;
   justify-content: space-between;
 }

 /* title of all pages */
 .title {
   font-size: xx-large;
   border: solid 1px gainsboro;
   border-radius: 5px;
   max-width: 100%;
   display: flex;
   justify-content: space-between;
   background-color: white;
   text-transform: capitalize;
 }

 /* body of all pages */
 .body {
   width: 200vh;
   margin: 1%;
   margin-top: 0%;
 }

 /* card */
 .card-container {
   border-radius: 5px;
   border: solid 1px gainsboro;
   width: 60vh;
   background-color: white;
   height: 56vh;
 }

 .card-container h4 {
   text-transform: capitalize;
   padding-left: 2%;
   padding-top: 2%;
 }

 .view-button {
   display: flex;
   justify-content: center;
   margin-top: 5%;
 }

 .view-button button {
   border: solid 1px gainsboro;
   border-radius: 5px;
   text-transform: capitalize;
   font-size: x-large;
   background-color: white;
   width: 95%;
 }

 .view-button button:hover {
   background-color: gainsboro;
 }

 .card {
   height: 25vh;
   background-color: black;
   margin: 3%;
   color: white;
   font-size: x-large;
   padding: 3%;
 }

 .card-button {
   display: flex;
   justify-content: space-around;
   text-align: center;
 }

 .bottom {
   background-color: gainsboro;
   border-radius: 5px;
   padding: 5px;
 }


 .cvv {
   position: absolute;
   right: 3%;
   top: 40%;
 }

 .card-chart {
   display: flex;
   justify-content: space-between;
   max-height: 60vh;
 }

 /* chat */
 .chart-container {
   border-radius: 5px;
   border: solid 1px gainsboro;
   width: 100vh;
   padding: 1%;
   background-color: white;
 }

 .fullname {
   position: absolute;
   bottom: 3%;
 }

 /* under the home */
 .footer {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .page {
   text-decoration: none;
   color: white;
   text-transform: capitalize;
 }

 .page:active {
   color: lightgreen;
 }

 /* sim */
 .sim {
   display: flex;
   align-items: center;
   flex-direction: column;
 }

 .sim-button {
   display: flex;
   justify-content: space-around;
   width: 75vh;
   border: none;
   border-radius: 5px;
   margin: 1%;
 }

 .sim-button img {
   width: 25vh;
   border-radius: 50%;
   object-fit: cover;
   width: 100px;
   height: 100px;
 }

 .sim-button p {
   font-size: xx-large;
   margin: 5%;
 }

 /* notification */
 .notes {
   display: flex;
   justify-content: space-around;
   font-size: x-large;
 }

 .note {
   text-decoration: underline blue;
   color: blue;
 }

 /* login form page */
 .login-page {
   display: flex;
   justify-content: center;
   justify-content: space-between;
   align-items: center;
   max-height: 100vh;
   background-color: white;
 }

 .login-page img {
   max-width: 100vh;
 }

 /* login form */
 .login {
   display: flex;
   flex-direction: column;
   width: 30%;
   padding: 2%;
   margin: 2%;
   border: solid 1px;
   border-radius: 5px;
   box-shadow: 4px 6px 2px;
   max-height: max-content;
 }

 .login input {
   border-radius: 5px;
   margin: 2%;
   padding: 2%;
 }

 .login button {
   background-color: darkgreen;
   color: white;
   border: none;
   border-radius: 5px;
   margin: 2%;
   padding: 2%;
 }

 .login button:hover {
   background-color: darkolivegreen;
 }

 .login h4 {
   text-align: center;
   padding-bottom: 2%;
 }

 .forget {
   display: flex;
   justify-content: space-around;
   padding: 2%;
 }

 /*signup page*/
 .signup-page {
   display: flex;
   justify-content: space-between;
   align-items: center;
   max-height: 100vh;
   background-color: white;
 }

 .signup-page img {
   max-width: 100vh;
 }

 .signup {
   padding: 2%;
   margin: 2%;
   border: solid 1px;
   box-shadow: 4px 6px 2px;
   border-radius: 5px;
   max-width: max-content;
 }

 .signup input {
   padding: 2%;
   margin: 2%;
   border-radius: 5px;
   width: 50vh;
 }

 .signup button {
   background-color: darkgreen;
   color: white;
   border: none;
   border-radius: 5px;
   margin: 2%;
   padding: 2%;
   width: 50vh;
 }

 .signup button:hover {
   background-color: darkolivegreen;
 }

 .signup h4 {
   text-align: center;
   padding-bottom: 2%;
   text-transform: capitalize;
 }

 .already {
   text-align: center;
   padding: 2%;
 }

 /* quick info at the top */
 .info {
   display: flex;
   justify-content: space-around;
   padding: 1%;
   font-size: x-large;
   margin-top: 1%;
   margin-bottom: 1%;
   border-radius: 5px;
   max-width: 100vh;
 }

 .info-text {
   padding: 0%;
   margin: 0%;
   font-size: medium;
 }

 .income-expense {
   border: none;
   border-radius: 5px;
   padding: 0.3%;
   background-color: white;
   width: 25vh;
   text-align: center;
   color: black;
   display: flex;
   flex-direction: row;
   align-items: center;
   max-height: 12vh;
   text-transform: capitalize;
 }

 .income-expense div {
   text-align: left;
 }

 .income {
   background-color: lightgreen;
   padding: 2%;
   border-radius: 5px;
 }

 .expense {
   background-color: lightcoral;
   padding: 2%;
   border-radius: 5px;
 }

 .balance {
   border: none;
   border-radius: 5px;
   padding: 0.3%;
   background-color: green;
   width: 25vh;
   text-align: center;
   color: black;
   display: flex;
   flex-direction: row;
   align-items: center;
   max-height: 12vh;
   text-transform: capitalize;
 }

 .balance div {
   text-align: left;
 }

 .fa-wallet {
   background-color: lightgreen;
   border-radius: 5px;
   padding: 3%;
 }

 /* tables */
 .table-container {
   background-color: white;
   border-radius: 5px;
   text-align: center;
   margin-top: 1%;
   max-height: 30vh;
 }

 .table {
   width: 150vh;
 }

 .table-head {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
 }

 .table-body {
   display: flex;
   justify-content: space-between;
 }

 .table-body:hover {
   background-color: gainsboro;
 }

 .tbody-container {
   max-height: 10vh;
   overflow-y: scroll;
 }

 .recent {
   display: flex;
   justify-content: space-between;
   text-transform: uppercase;
   padding: 1%;
 }

 .recent-view {
   color: grey;
 }

 .dashboard {
   display: flex;
   justify-content: space-around;
 }

 .dashboard button {
   border: none;
   border-radius: 20px;
 }

 .dashboard input {
   border: solid 1px gainsboro;
   border-radius: 50px;
   font-size: x-large;
   max-height: max-content;
   margin-top: 1%;
 }